/* O que vamos fazer/escrever aqui? REGRAS DE FORMATAÇÃO */
/* Seletor UNIVERSAL
Alterando o comportamento do Box Model CSS. Usando esta regra evitamos os problemas encontrados ao se usar width, height, padding e border ao mesmo tempo. */
* { box-sizing: border-box; } /* propriedade importante */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/tarde.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#container {
    background-color: rgba(255, 255, 255, 0.50);
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    /* padding é o espaçamento interno */
    padding: 10px;
    /* sombra precisa de quatro valores
    1 é cor, 2 é distância na horizontal, 3 é distancia na vertical, 4 é o esfumaçado da sombra */
    box-shadow: rgba(237, 230, 3, 0.804) 20px 10px 30px, purple -20px -10px 30px;
}

/* Tornando as imagens flexíveis/responsivas */
img {
    max-width: 100%;
}

figure {
    text-align: center;
}

h1 {
    font-family: Impact, Verdana, Arial, sans-serif;
    background-color: rgb(0, 0, 141, 0.75);
    color: rgb(235, 242, 245);
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* Versão abreviada: border-radius: 20px 20px 0 0 */
    text-shadow: yellow 5px 5px 2px;
    -webkit-text-stroke: purple 0.5px;
    /* Propriedades com prefixo 
    -webkit-*, -moz-*, -o-* 
    Site Can I use: site de verificação de compatibilidade web */
}
h2{
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-style: solid;
    border-left-width: 20px;
    /* margin-left: 30px; vai empurrar mais  */
    padding-left: 10px;
}

/* EXERCÍCIO
 Crie uma nova regra CSS para estilizar o elemento h1 com as seguintes características:
- Fonte: Impact, Verdana, Arial e sans-serif
- Cor de fundo: escuro com um pouco de transparência
- Cor de texto: clara
- Espaçamento: interno APENAS para cima e para baixo
- Letras maiúsculas
- Texto alinhado no meio
- Bordas arredondadas APENAS nos cantos superiores
- Sombra no TEXTO*/

a { text-decoration: none; } /* tira todos os UNDERLINES dos links dentro do a */

figure img {
    transform: scale(0.8); /* usando só 80% do tamanho da imagem */
    transition: 1s;
    filter: grayscale(100%);
}

/* Usando a pseudo-classe :hover
(ação de passar o mouse) */
figure img:hover {
    transform: scale(1) rotateX(360deg);
    filter: grayscale(0);
}

/* Seletor AGRUPADO (grupo de seletores) */
p, li{
    font-size: 18px;
}

/* li{ font-size: 18px;} */

/* Seletor CLASSE */
.centralizar { text-align: center;} /* Usar nomes significativos */
.sombra { text-shadow: pink 1px 1px 3px; }
.destaque { 
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 4px;
}
.destaque-back{
    background-color: rgba(255, 255, 0, 0.59);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

p b { color: purple}

/**** Regras para o menu e seus links ****/

nav { text-align: center;}

/* Seletor DESCENDENTE
(vale para todos os <a> CONTIDOS em <nav>) */

nav a { 
    color: black;
    font-weight: bold;
    background-color: antiquewhite;
    display: inline-block;
    /*padding-block: 10%; pode usar essa solução*/
    /* border-radius: 8px; */
    width: 50%;
    padding: 2%;
    transition: 3s;
    /*border: solid 1px;*/
}
/* Regra para o estado de acionamento dos links */
nav a:hover{
    background-color: black;
    color: antiquewhite;    
}
